<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

		<h1>Show Bots</h1>

		<h2><%=robot.name%></h2>
		Origin: <%=robot.origin%>

		<form action="/robots/<%=id%>/edit">
			<input type="submit" value="edit">	
		</form>
		
		<br/>
		<a href="/robots">HOME</a>

</body>
</html>